@model Fast_To_let.Models.AddInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AddInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tolet_catagory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tolet_catagory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tolet_available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tolet_available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.road_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.road_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.house_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.house_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
