@model IEnumerable<Fast_To_let.Models.user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailVarified_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVarified_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.username }) |
            @Html.ActionLink("Details", "Details", new { id=item.username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.username })
        </td>
    </tr>
}

</table>
